[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca.git
        branch = main
[submodule "cryptomines-blockchain-gui"]
	path = cryptomines-blockchain-gui
	url = https://github.com/LloydMontgomeryGarmadon/cryptomines-blockchain-gui.git
